<!DOCTYPE html>
<html>
<head>
{{> head}}
<body>
<!--need to use curly brace syntax in handlebars for dynamic renders-->
<h1>need a dynamic tag for this. currently input it manually</h1>
{{> header}}
<p>
  Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
</p>
{{> footer}}
{{> footer}}
</body>
</html>
