<!DOCTYPE html>
<html>
{{> head}}
<body>
<!--need to use curly brace syntax in handlebars for dynamic renders-->
{{> header}}
<p>
  Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
</p>
{{> footer}}
</body>
</html>
