<!DOCTYPE html>
<html>
{{> head}}
<body>
<!--need to use curly brace syntax in handlebars for dynamic renders-->
{{> header}}
<p>
<!--when using a helper that will perform on another helper or variable/piece of data in hbs, use the helper and then a space between each piece to be acted upon-->
{{allCaps welcomeMessage}}
</p>
{{> footer}}

<ol>
Here is a change to my server file under the footer to commit on github and deploy to heroku
<li>GitHub
  <li>git status #check status to make sure the proper filesthat have been changed are showing</li>
  <li>git add .  #adds all the listed files (write specific files if you don't want all)</li>
  <li>git commit -m 'your message here' #commit the files with a commit message</li>
  <li>git push # push the files to the git server to upload all changed files into repository</li>
</li>
<li>Heroku
  <li>git push heroku #pushes the current folder's git changes to the heroku app host to update them</li>
</li>

</ol>
</body>
</html>
