<!DOCTYPE html>
<html>
{{> head}}
<body>
<!--need to use curly brace syntax in handlebars for dynamic renders-->
<h1>Site undergoing maintenance</h1><br />
<h2>We'll be right back</h2>
<p>
  Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
</p>
{{> footer}}
</body>
</html>
