<!DOCTYPE html>
<html>
{{> head}}
<body>
<!--need to use curly brace syntax in handlebars for dynamic renders-->
{{> header}}
<h1>{{pageTitle}}</h1>
<p><a href='/'>Project 1</a></p>
<p><a href='#'>Project 1</a></p>
<p><a href='#'>Project 1</a></p>
<p><a href='#'>Project 1</a></p>
{{> footer}}
</body>
</html>
